[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
aiohttp = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pydocstyle = "*"
mypy = "*"
sphinx = "*"
doit = "*"

[requires]
python_version = "3.8"
